<br> <div class="list-group-item"> <h4 contenteditable ng-model="newTodo.content" strip-br="true" required ng-keydown="addNewTodo($event)" ng-class="'todo-content add-new-todo'"></h4> </div> <br> <ul class="list-group"> <li ng-repeat="todo in todos.snapshot()" class="todo list-group-item"> <button ng-click="complete(todo)" class="todo-do-btn btn btn-default pull-left">done</button> <button ng-click="snooze(todo)" class="todo-snooze-btn btn btn-default pull-right">snooze</button> <h4 contenteditable ng-model="todo.content" strip-br="true" required ng-keydown="update($event, todo)" ng-class="'todo-content'"></h4> </li> </ul> <!-- <button ng-click="output()">Click</button>

{{newTodo.content}}

<li ng-repeat="todo in todos.snapshot()" class="list-group-item">
  <span class="badge">pending</span>
  <h4 ng-bind="todo.content"></h4>
</li> -->